@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,900&family=Fredoka+One&family=Hind+Madurai:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:opsz,wght@9..144,900&family=Fredoka+One&family=Hind+Madurai:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font-family: 'Fraunces', serif; */
/* font-family: 'Barlow', sans-serif; */
body {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    background: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);

}



*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
    max-width: 1280px;
    margin:0 auto;
}
.header_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.header_nav_nav ul{
    display: flex;
}
.header_nav_nav ul li{
    list-style-type: none;
    margin-left: 30px;
}
.header_nav_nav ul li a{
    text-decoration: none;
    color: #83888F;
}
.mobile-icon{
    display: none;
}
.header_intro_cont{
    max-width: 413px;
    text-align-last: left;
}
.header_intro_cont h1{
    font-family: 'Fraunces', serif;
    font-family: 'Fredoka One', italic;
    font-family: 'Hind Madurai', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: white;
    margin-bottom: 32px;
}
.header_intro_cont p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    margin-bottom: 52px;
}
.header_intro_cont button{
    background-color: #0E8784;
    color: white;
    border-radius: 5px;
    padding: 15px 30px;
}
.header_intro{
    margin-top: 200px;
}
.about_intro_bg{
    background-image: url(./img/Bitmap.png);
    border-radius: 5px;
    padding: 100px 65px;
}
.main_row{
    display: flex;
    gap: 30px;
    align-items: center;
}
.main_bg{
    background-image: url(./img/Group\ 13.png);
    background-repeat: no-repeat;
    background-position: top;
}
.main_container{
    margin-bottom: 180px;
    margin-top: 160px;
}
.main_col{
    max-width: 255px;
    text-align: center;
}
.main_col h4{
    font-family: 'Fraunces', serif;
    font-family: 'Fredoka One', italic;
    font-family: 'Hind Madurai', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 72px;
    color: #333D4B;
    margin-bottom: 24px;
    margin-top: 72px;
}
.section_row{
    bottom: -100px;
    margin-right: 85px;
    position: absolute;
    gap: 30px;
    display: flex;
    align-items: center;
}
.section_col_bg{
    background: #0E8784;
    border-radius: 8px;
    padding: 48px;
}
.section_col{
    color: white;
    text-align: center;
}
.section_bg{
    border-radius: 5px;
    position: relative;
    background-color: #333D4B;
    padding: 120px 85px;
}
.section_cont{
    text-align: center;
    color: white;
    margin-bottom: 85px;
}
.index_aside_oval_row{
    margin-bottom: 148px;
}
.aside_container{
    margin-top: 200px;
}
.aside_row{
    align-items: center;
    gap: 40px;
    display: flex;
}
.aside_cont h4{
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
    margin-bottom: 50px;
}
.aside_col{
    margin-top: 20px;
    max-width: 280px;
}
.aside_col h1{
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
    margin-bottom: 38px;
}
.aside_col h3{
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
    margin-bottom: 32px;
}
.aside_button button{
    background-color: #0E8784;
    color: white;
    border-radius: 5px;
    padding: 15px 30px;
    margin-top: 70px;
}
.footer_nav_bg{
    background-color: #333D4B;
    padding: 40px 110px;
}
.footer_nav{
    display: flex;
    align-items: center;
}
.footer_nav_nav ul{
    margin-left: 50px;
    margin-right: 270px;
    display: flex;
}
.footer_nav_nav ul li{
    list-style-type: none;
    margin-left: 30px;
}
.footer_nav_nav ul li a{
    text-decoration: none;
    color: #83888F;
}
.footer_container{
    margin-top: 60px;
}
.footer_nav_sociall{
    gap: 24px;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.cantener{
    max-width: 1280px;
    margin: 0px auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 113px;
}

.header__nav__ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 30px;
}
.header__nav__ul li a:hover{
    cursor: pointer;
    color: #000;
}

.header__nav__ul li a{
    color:  #83888F;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
}
.section__div{
    background-image: url("./img/kofe3figma.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.section__div__h2{
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    font-family: 'Fraunces', serif;
    padding-top: 134px;
    padding-left: 86px;
    padding-right: 710px;
    color: #FEFCF7;
   
}
.section__div__p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Barlow', sans-serif;
    padding-top: 32px;
    padding-left: 86px;
    padding-right: 856px;
    padding-bottom: 134px;
    color: #FEFCF7;
}

.part{
    background-image: url("./img/orqafontqora.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 85px;
    margin-top: 160px;
    border-radius: 10px;
}

.part__end__div{
    display: flex;
    justify-content:last baseline;
    gap: 95px;
    position: relative;
   
}

.part__end__list{
    margin-top: 30px;
}

.part__end__list__ul{
    list-style: none;
}

.hr{
    width: 349px;
    height: 0pc;
    border: 2px solid #FDD6BA;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 125px;
    left: 31px;
}
.part__hr{
    width: 349px;
    height: 0pc;
    border: 2px solid #FDD6BA;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 125px;
    left: 411px;
}
.part__end__li--border__li{ 
  margin-top: 80px;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  border: 1px solid #0E8784;
  color:  #2C343E;
  display: flex;
  justify-content: center;
  cursor: pointer;
  
}

.part__end__li--nomber{
    margin-top: 67px;
    width: 90px;
    height: 72px;
    color: #FDD6BA;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    font-family: 'Fraunces', serif;
}

.part__end__li--strong{
    padding-top: 38px;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    font-family: 'Fraunces', serif;
    color: #FEFCF7;
    width: 255px;
}
.part__end__li--p{
    padding-top: 42px;
    padding-bottom: 107px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Barlow', sans-serif;
    width: 285px;
    color: #FEFCF7;
}


.second-section{
    display: grid;
    margin-top: 159px;
    justify-content: space-evenly;
    grid-template:auto auto;
    grid-template-areas: 
       "acide  header"
}

.item__1{
    font-size: 25px;
    width: 255px;
    height: 356px;
    grid-area: acide;
    position: relative;
    bottom: 45px;
    
}


.item__1__div{
   display: flex;
   gap: 28px;
   position: relative;
   margin-top: 49px;
}

.item__1__h2{
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    font-family: 'Fraunces', serif;
    color: #83888F;
}
.item__1__div h2:hover{
    cursor: pointer;
    color: #333D4B;
}
.item__1__div strong:hover{
    cursor: pointer;
    color: #333D4B;
}
.item__1__span{
    width: 255px;
    height: 0px;
    border: 1px solid #83888F;
    position: absolute;
    top: 48px;
    opacity: 0.5;
}
.item__1__strong{
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    font-family: 'Fraunces', serif;
    color:  #83888F;
}

.item__2{
    font-size: 25px;
    grid-area:  header;
    width: 730px;
    height: 2550px;
    position: relative;
    bottom: 88px;
}

.item__2__div{
    display: flex;
    justify-content: space-between;
    margin-top: 88px;
}

.item__2__div__h2{
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    font-family: 'Fraunces', serif;
    color: #83888F;

}

.item__2__end{
    background-image: url("./img/backwilih.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
    cursor: pointer;
}
.item__2__end--color{
    background-image: url("./img/backgrupyahl.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
    cursor: pointer;
}


.item-text{
    display: flex;
    gap: 23px;
    margin-top: 56px;
}

.item__2__h3{
    padding-top: 32px;
    padding-left: 28px;
}

.item__2__p{
    padding-top: 24px;
    padding-left: 28px;
    padding-right: 28px;
    padding-bottom: 84px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Barlow', sans-serif;
    color: #333D4B;
    cursor: pointer;
}

.item__2__p--color{
    padding-top: 24px;
    padding-left: 28px;
    padding-right: 28px;
    padding-bottom: 84px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Barlow', sans-serif;
    color: #FEFCF7;
    cursor: pointer;
}

.item__2__h3--color{
    padding-top: 32px;
    padding-left: 28px;
    color: #FEFCF7;
    cursor: pointer;
}

.item__2__barner{
    background-image: url("./img/bacend.png");
    height: 208px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 84px;
}

.item__2__barner__h4{
    padding-top: 31px;
    padding-left: 64px;
    padding-bottom: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Barlow', sans-serif;
    color: #fff;
    opacity: 0.3;
}

.item__2__barner__span{
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    font-family: 'Fraunces', serif;
    color: #fff;
}
.item__2__barner__div{
   display: flex;
   padding-left: 64px; 
   padding-right: 60px;
}

.item__2__btn{
    background: #0E8784;
    border-radius: 6px;
    padding-top: 15px;
    padding-bottom: 16px;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    font-family: 'Fraunces', serif;
    margin-left: 513px;
    margin-top: 40px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 16px;
    border: none;
    color: #fff;
    cursor: pointer;
}


.footer__div{
    display: flex;
    justify-content: space-between;
}

.footer__nav__ul{
    list-style: none;
    display: flex;
    gap: 33px;
    margin-right: 300px;
    padding-top: 53px;
}
.footer__nav__li a{
    text-decoration: none;
    color:  #83888F;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    font-family: 'Barlow', sans-serif;
}

.footer__div--logotibs{
    display: flex;
    gap: 15px;
    padding-top: 53px;
    padding-right: 10px;
}

.footer--logo{
    padding-top: 47px;
}
.plane_intro_bg{
    background-image: url(./img/Bitmap.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    padding: 100px;
}
.header_bg{
    margin-bottom: 200px;
}
.section_oval{
    width: 31px;
    height: 31px;
    border-radius: 50%;
    border: 2px solid #0E8784;
    /* background: #fff; */
}
.section_line{
    width: 310px;
    height: 2px;
    background-color: #fdd6ba;
}
.oval_row{
    display: flex;
    /* justify-content: center; */
    align-items: center;

}
.section_plane_bg{
    background-color: #333D4B;
    padding: 100px;
}
.line_row{
    display: flex;
}
.line_col{
    text-align: left;
    margin-top: 40px;
}
.line_col h1{
    color: #fdd6ba;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    margin-bottom: 20px;
}
.line_col h3{
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 72px;
    margin-bottom: 20px;
}
.rows{

    display: flex;
    gap: 20px;
    margin-left: 85px;
    margin-bottom: 20px; 
    margin-top: 20px; 
}
.rows:hover{
    opacity: -0,2px;
}
.main_plane_container{
    display: flex;
    gap: 125px;
}
.menu_cont_rows{
    display: flex;
    gap: 23px;
}
.menu_cont_column{
    max-width: 172px;
}
.menu_cont_column_bg{
    background-color: #F4F1EB;
    padding: 32px 28px 84px 28px;
    border-radius: 5px;
    margin-top: 50px;
}
.menu_cont_column_bg:hover{
    background-color: #0E8784;
    padding: 32px 28px 84px 28px;
    border-radius: 5px;
    color: #fff;
   
}
.menu_cont_h1{
    color: #83888F;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.desaf{
    background: #2C343E;
    padding:31px 64px;
}
.desaf--order{
font-size: 16px;
line-height: 26px;
text-transform: uppercase;
color: #FFFFFF;
opacity: 0.5;
margin-bottom: 8px;
}
.desaf--ground{
font-family: 'Fraunces', serif;
font-weight: 900;
font-size: 24px;
line-height: 40px;
color: #FFFFFF;
width: 602px;
}
.desaf--ground>span{
    color: #0E8784;
}
.works__button{
    background-color: #0E8784;
    padding: 20px;
    margin-top: 30px;
    margin-left: 575px;
}
.about_intro_bg{
    background-image: url(./img/Bitmap\ \(2\).jpg);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    padding: 100px;
}



.tablet_img{
    display: none;
}



.main_about_container{
    display: flex;
    align-items: center;
    gap: 200px;
}
.main_about_text h1{
    margin-bottom: 30px;
}
.menu_cont_rows{
    margin-bottom: 20px;
}
.section_about_bg{
    margin-top: 100px;
    background-color: #2C343E;
    padding: 200px 100px 200px 100px;
    position: relative;
    display: flex;
    color: #fff;
    margin-bottom: 220px;
}
.section_about_bg img{
    position: absolute;
    top: -30px;
    right: 50px;
}
.section_about_text{
    max-width: 300px;
}
.section_about_text h1{
    margin-bottom: 50px;
}
.aside_about_row{
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 200px;
}
.aside_about_col p{
    margin-bottom: 20px;
    margin-top: 20px;
}




@media only screen and (max-width: 1440px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container {
        max-width: 688px;
        margin: 0 auto;
    }

    .header_intro {
        margin-top: 54px;
    }

    .header_intro h1 {
        font-size: 48px;
        line-height: 48px;
        margin-bottom: 24px;
    }

    .header_intro_cont p {
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 40px;
    }

    .header_intro_cont{
        max-width: 300px;
        text-align-last: left;
    }

    .main_about_container{
        margin-left: 50px;
    }

    .main_about_container{
        gap: 50px;
    }

    .main_about_container img{
        width: 280px;
    }

    .tablet_img{
        position: absolute;
        bottom: 500px;
        justify-content: center;
        max-width: 550px;
    }
    
    .desctop_img{
        display: none;
    }

    .section_about_text{
        margin-top: 150px;
        text-align: center;
        justify-content: center;
        max-width: 540px;
    }
    .aside_about_row{
        gap: 40px;
    }

    .footer_nav{
        display: block;
    }

    .footer_nav_logo{
        margin-left: 150px;
    }
    .footer_nav_nav{
        margin-left: 70px;
        display: flex;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .footer_nav_sociall{
        margin-left: 200px;
    }
}






@media only screen and (max-width: 655px) {
    .container {
        max-width: 688px;
        margin: 0 auto;
    }

    .mobile-icon {
        display: block;
    }

    .header_nav_nav{
        display: none;
    }
    .header_nav{
        justify-content: space-between;
    }

    .header_intro {
        justify-content: center;
        margin-top: 54px;
    }

    .header_intro h1 {
        font-size: 48px;
        line-height: 48px;
        margin-bottom: 24px;
    }

    .header_intro_cont p {
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 40px;
    }

    .header_intro_cont{
        max-width: 300px;
        text-align-last: left;
    }

    .main_about_container{
        display: block;
    }

    .main_about_container{
        text-align: center;
        gap: 50px;
    }

    .main_about_container img{
        width: 280px;
        justify-content: center;
    }

    .tablet_img{
        position: absolute;
        bottom: 500px;
        justify-content: center;
        max-width: 400px;
        
    }

    .main_about_container{
        margin-left: 200px;
    }

    .section_about_bg{
        margin-top: 100px;
        background-color: #2C343E;
        padding: 200px 100px 200px 100px;
        position: relative;
        display: flex;
        color: #fff;
        margin-bottom: 220px;
    }
    
    .desctop_img{
        display: none;
    }

    .section_about_text{
        margin-top: 50px;
        text-align: center;
        justify-content: center;
        max-width: 540px;
    }
    .aside_about_row{
        gap: 40px;
        display: block;
        justify-content: center;
    }

    .aside_about_container{
        text-align: center;
        align-items: center;
    }

    .footer_nav{
        display: block;
    }

    .footer_nav_logo{
        margin-left: -50px;
    }
    .footer_nav_nav{
        margin-left: -140px;
        display: flex;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .footer_nav_sociall{
        margin-left: 0px;
    }
}